<div class="code">
  {% if title %}
  <div class="title">{{ title }}</div>
  {% endif %}
  <div class="content">
    <div class="highlight">
      <pre>
      {% for line, callout in code %}
      {{ line }}{% if callout %} {{ callout }}{% endif %}{{ '\n' }}
      {% endfor %}
      </pre>
    </div>
  </div>
  {% if callouts %}
  <div class="callouts">
    <table>
      <tbody>
        {% for callout in callouts %}{{ callout }}{% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
