<nav>
  {% include 'includes/navigation/links.html' %}
</nav>
<section>
  <article class="card">
    <a href="https://www.thedigitalcat.academy/freebie-first-class-objects">
      <img src="/images/first-class-objects-in-python.jpg" />
    </a>
    <div class="body">
      <h2>First-class objects in Python</h2>
      <p>Higher-order functions, wrappers, and factories</p>
      <div class="actions">
        <a class="action" href="https://www.thedigitalcat.academy/freebie-first-class-objects">Get your FREE copy</a>
      </div>
    </div>
  </article>
</section>
<section>
  <header>
    <h2>Tags</h2>
  </header>
  {% include 'includes/navigation/tags.html' %}
</section>
<section>
  <header>
    <h2>Categories</h2>
  </header>
  {% include 'includes/navigation/categories.html' %}
</section>
<section>
  <header>
    <h2>Feeds</h2>
  </header>
  {% include 'includes/navigation/feeds.html' %}
</section>
<section>
  <header>
    <h2>Get in touch</h2>
  </header>
  <ul class="contact">
    {% for s in SOCIAL %}
    <li><i class="fab fa-{{ s.icon }}" aria-hidden="true"></i> <a href="{{ s.url }}">{{ s.name }}</a></li>
    {% endfor %}
  </ul>
</section>
