/* Breakpoints */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.preload * {
  transition: none !important; }

body {
  font-family: sans-serif; }

div.container {
  display: flex;
  position: relative; }

/* Global styles */
body {
  color: #3d4449; }

a {
  color: #3d4449; }

a:hover {
  color: #ff9900;
  transition: color 0.2s ease; }

/* Sidebar */
div.sidebar {
  background-color: #f0f3f5;
  font-family: 'Roboto Slab', serif;
  width: 400px;
  padding: 2rem; }

div.sidebar section {
  margin: 2rem 0;
  border-bottom: 2px solid #d1d3d4;
  padding-bottom: 2rem; }

div.sidebar section header {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 1rem 0; }

div.sidebar section li {
  margin: 1rem 0; }

/* Tags */
ul.tags li.tag {
  display: inline-block;
  margin: 0.5rem 0.2rem; }

ul.tags li.tag.tag-size-1 {
  font-size: 1rem; }

ul.tags li.tag.tag-size-2 {
  font-size: 1.2rem; }

ul.tags li.tag.tag-size-3 {
  font-size: 1.4rem; }

ul.tags li.tag.tag-size-4 {
  font-size: 1.6rem; }

/* Navigation menu */
nav .links {
  border-bottom: 2px solid #d1d3d4;
  padding-bottom: 2rem; }

nav .link {
  margin: 1rem 0; }

nav .link a {
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase; }

nav .link.active a {
  color: #ff9900; }

/* Main */
main {
  margin: 0 auto;
  width: 100%; }

main header {
  align-items: center;
  background: #3d4449;
  color: #ffd500;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-bottom: 1rem;
  position: relative; }

main header button {
  background: none;
  border: none;
  color: #ffd500;
  cursor: pointer;
  font-size: 1.5rem;
  left: 0;
  outline: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px; }

main img {
  height: 30vw;
  max-height: 250px;
  object-fit: cover;
  object-position: 0 30%;
  width: 100%; }

main h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center; }

main p.subtitle {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 1rem 0;
  text-align: center;
  text-transform: uppercase; }

main div.quote {
  font-family: 'Open Sans', serif;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin: 0 4rem;
  position: relative;
  text-align: center; }

main div.quote p.source {
  font-size: 0.8rem;
  font-style: normal;
  margin-top: 1rem; }

main div.quote svg {
  color: rgba(0, 0, 0, 0.05);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

main .overlay {
  backdrop-filter: blur(4px);
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.3s;
  visibility: hidden;
  width: 100vw;
  z-index: 1; }

/* Media */
@media (min-width: 1280px) {
  main header button {
    display: none; }
  main {
    width: 880px; } }

@media (max-width: 1279px) {
  div.sidebar {
    left: 0;
    position: absolute;
    top: 0;
    transform: translateX(-400px);
    transition: transform 0.3s;
    z-index: 2; }
  div.sidebar.open {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transform: translateX(0); }
  main .overlay.open {
    opacity: 1;
    visibility: visible; } }
