{% extends "base.html" %}

{% block meta_description %}
{% if article.summary %}
<meta name="description" content="{{ article.summary|striptags }}">
{% endif %}
{% endblock %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block custom_css %}
{% if article.style %}
{% set styles = article.style.split(',') %}
{% for style in styles %}
{% assets filters="cssmin", output="css/" + style + ".min.css", "css/" + style + ".css" %}
<link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
{% endassets %}
{% endfor %}
{% endif %}
{% endblock %}

{% block structured_data %}
<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Article",
  "name" : "{{ article.title|striptags }}",
  {% if article.author %}
  "author" : {
    "@type" : "Person",
    "name" : "{{ article.author }}"
  },
  {% endif %}
  "publisher" : {
    "@type" : "Organization",
    "name" : "The Digital Cat",
    "logo" : {
      "@type" : "ImageObject",
      "url" : "{{ SITEURL }}/images/global/logo_200.jpg",
      "height" : 200,
      "width" : 200
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ SITEURL }}/{{ article.url }}"
  },
  "datePublished" : "{{ article.locale_date }}",
  "dateModified" : "{% if article.locale_modified %}{{ article.locale_modified }}{% else %}{{ article.locale_date }}{% endif %}",
  "image" : "{{ SITEURL }}/images/{{ article.image if article.image else 'article_image_placeholder' }}.jpg",
  {% if article.summary %}
  "description" : "{{ article.summary|striptags }}",
  "headline" : "{{ article.summary|striptags|truncate(110, False, '') }}",
  {% endif %}
  "url" : "{{ SITEURL }}/{{ article.url }}"
}
</script>
{% endblock %}

{% block content %}

    <header id="header">
        <a class="logo" href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}">All posts in category {{ article.category }} <i class="fa fa-link"></i></a>
        <div class="align-right">
            {% if article.series %}
            
            {% if article.series and article.series.previous %}
            <a href="{{ SITEURL }}/{{ article.series.previous.url }}"><i class="fa fa-caret-square-left"></i></a>
            {% endif %}
            
            {{ article.series.name }} #{{ article.series.index}}

            {% if article.series and article.series.next %}
            <a href="{{ SITEURL }}/{{ article.series.next.url }}"><i class="fa fa-caret-square-right"></i></a>
            {% endif %}

            {% endif %}
        </div>
    </header>

    <!-- <article class="post"> -->

    <section id="header">
        <header class="main">
            <h1>{{ article.title }}</h1>
        </header>
    </section>

    <section id="post-info">
        <div class="align-center">
        {% if article.tags %}
            {% for tag in article.tags %}
            <a class="button special small" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}{% endif %}
            {% endfor %}
        {% endif %}
        </div>

        <div class="align-center">
        {% if article.author %}
            By {{ article.author }}
            <span class="separator">•</span>
        {% endif %}

            Published on <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>

        {% if article.modified %}
            <span class="separator">•</span>
            Last update on
            <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
        {% endif %}
        </div>
    </section>

    <section id="content">
        {{ article.content }}
    </section>

    <section id="related">
    {% if article.related_posts and not article.series %}
        <h1>Related Posts</h1>
        <div class="box">
            <ul>
                {% for related_post in article.related_posts %}
                <li><a href="{{ SITEURL }}/{{ related_post.url }}">{{ related_post.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    {% if article.series %}
        {% set text = 'Part %(index)s of the %(name)s series' %}
        <h1>{{ text|format(index=article.series.index, name=article.series.name) }}</h1>
        <div class="box">
            {% if article.series.all_previous %}
            <h5>Previous articles</h5>
            <ul>
                {% for article in article.series.all_previous %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        
            {% if article.series.all_next %}
            <h5>Next articles</h5>
            <ul>
                {% for article in article.series.all_next %}
                <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
    {% endif %}
    </section>



    <!-- </article> -->

{% endblock %}
