{% extends "base.html" %}

{% block title %}{{ article.title|striptags }} - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block div_type %}narrow{% endblock %}

{% block content %}
    <header id="header">
        <a href="{{ SITEURL }}/{{ article.category.url }}" title="{{ article.category }}">{{ article.category }}</a>
        <div class="align-right">        
            {% if article.series %}
            <a href="#series">{{ article.series.name }}</a> part {{ article.series.index}}/{{ article.series.all|length }}
            {% endif %}
        </div>
    </header>
    

    <article class="post">
        <header class="page-header">
            <h1>{{ article.title }}</h1>
        </header>

        {% if article.tags %}
        <section id="tags" class="align-center">
            {% for tag in article.tags %}
            <a class="button special small" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}{% endif %}
            {% endfor %}
        </section>
        {% endif %}

        <section id="author" class="align-center">
            {% if article.author %}
                By
                <a href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a>
                <span class="separator">•</span>
            {% endif %}

            Published on
            <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }}</time>

            {% if article.modified %}
                Last update on
                <time datetime="{{ article.modified.isoformat() }}"> {{ article.locale_modified }}</time>
                <span class="separator">•</span>
            {% endif %}
        </section>

        <section id="content">
            {{ article.content }}
        </section>

        {% if article.related_posts %}
        {% include 'includes/related_articles.html' %}
        {% endif %}

        {% if article.series %}
        {% include 'includes/series.html' %}
        {% endif %}

    </article>

{% endblock %}
