<div class="post-share">
  <span class="post-share-label">Share:</span>
  <a href="{{ article.share_post['twitter'] }}" class="post-share-link" title="Share on X / Twitter" target="_blank">
    <i class="fab fa-x-twitter"></i>
  </a>
  <a href="{{ article.share_post['linkedin'] }}" class="post-share-link" title="Share on LinkedIn" target="_blank">
    <i class="fab fa-linkedin"></i>
  </a>
  <a href="{{ article.share_post['hacker-news'] }}" class="post-share-link" title="Share on Hacker News" target="_blank">
    <i class="fab fa-hacker-news"></i>
  </a>
  <a href="{{ article.share_post['reddit'] }}" class="post-share-link" title="Share on Reddit" target="_blank">
    <i class="fab fa-reddit"></i>
  </a>
  <a href="{{ article.share_post['email'] }}" class="post-share-link" title="Share via Email">
    <i class="fas fa-envelope"></i>
  </a>
</div>
