{% if articles_page and articles_paginator.num_pages > 1 %}
<ul class="pagination">
    {% if articles_page.has_previous() %}
    {% set num = articles_page.previous_page_number() %}
    <li><a class="button" href="/{{ articles_previous_page.url }}">&laquo;</a></li>
    {% else %}
    <li><span class="button disabled">&laquo;</span></li>
    {% endif %}
    
    {% for num in range( 1, 1 + articles_paginator.num_pages ) %}
    {% set page = articles_paginator.page(num) %}
    <li><a href="/{{ page.url }}" class="page {{ 'active' if num == articles_page.number else '' }}">{{ num }}</a></li>
    {% endfor %}
    
    {% if articles_page.has_next() %}
    <li><a class="button" href="/{{ articles_next_page.url }}">&raquo;</a></li>
    {% else %}
    <li><span class="button disabled">&raquo;</span></li>
    {% endif %}
</ul>
{% endif %}
