<div>
    {% include 'includes/articles_list_pagination.html' %}
</div>

<div class="posts">
    {% for article in (articles_page.object_list if articles_page else articles) %}
    <article class="card">
        <a href="/{{ article.url }}" class="image">
            <img src="/images/{{ article.image if article.image else 'article_image_placeholder' }}.jpg" alt="{{ article.image if article.image else 'article_image_placeholder' }}" />
        </a>
        <div class="card-body">
            <a href="/{{ article.url }}"><h1 class="card-title">{{ article.title }}</h1></a>
	    <p class="article-info">
                <time datetime="{{ article.date.isoformat() }}">{{ article.date | strftime('%b %-d, %Y') }}</time>
                <span class="fas fa-tags"></span>
                {% for tag in article.tags %}
                <a href="/{{ tag.url }}" class="tag">{{ tag }}</a>{% if not loop.last %}{% endif %}
                {% endfor %}
            </p>
        </div>
    </article>
    {% endfor %}
</div>

<div>
    {% include 'includes/articles_list_pagination.html' %}
</div>
