<span><a class="" href="{{article.share_post['twitter']}}" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i> Twitter</a></span>
<span><a class="" href="{{article.share_post['linkedin']}}" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin"></i> LinkedIn</a></span>
<span><a class="" href="{{article.share_post['hacker-news']}}" target="_blank" title="Share on HackerNews"><i class="fab fa-hacker-news"></i> HackerNews</a></span>
<span><a class="" href="{{article.share_post['email']}}" target="_blank" title="Share via Email"><i class="fas fa-envelope"></i> Email</a></span>
<span><a class="" href="{{article.share_post['reddit']}}" target="_blank" title="Share via Reddit"><i class="fab fa-reddit"></i> Reddit</a></span>
