<div class="inner">
    <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            {% include 'includes/sidebar/menu.html' %}
        </nav>

    <!-- Section -->
        <section>
            <header class="major">
                <h2>Categories</h2>
            </header>
            {% include 'includes/sidebar/categories.html' %}
        </section>

    <!-- Section -->
        <section>
            <header class="major">
                <h2>Feeds</h2>
            </header>
            {% include 'includes/sidebar/feeds.html' %}
        </section>

    <!-- Section -->
        <section>
            <header class="major">
                <h2>Tags</h2>
            </header>
            {% include 'includes/sidebar/tags.html' %}
        </section>

    <!-- Section -->
        <section>
            <header class="major">
                <h2>Recent posts</h2>
            </header>
            {% include 'includes/sidebar/other_posts.html' %}
        </section>

    <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            {% include 'includes/sidebar/social.html' %}
        </section>

    <!-- Footer -->
        <footer id="footer">
            <p class="copyright">Editorial theme by: <a href="https://html5up.net">HTML5 UP</a>.</p>
            <p class="copyright">Cover picture by: <a href="https://pxhere.com/en/photo/1428515">An Min @ pxhere.com</a></p>
        </footer>

</div>