$sidebar-width: 400px;
$header-height: 50px;

/* Breakpoints */
$bp-min-sm: 640px;
$bp-min-md: 768px;
$bp-min-lg: 1024px;
$bp-min-xl: 1280px;
$bp-min-2xl: 1536px;

$bp-max-xs: $bp-min-sm - 1px;
$bp-max-sm: $bp-min-md - 1px;
$bp-max-md: $bp-min-lg - 1px;
$bp-max-lg: $bp-min-xl - 1px;
$bp-max-xl: $bp-min-2xl - 1px;

$text-colour: rgb(61, 68, 73);

$background-colour-light: rgb(240, 243, 245);
$background-colour-emboss: rgb(209, 211, 212);
$background-colour-medium: rgb(102, 114, 123);
$background-colour-dark: rgb(61, 68, 73);

$highlight-colour-light: rgb(255, 213, 0);
$highlight-colour-medium: rgb(255, 153, 0);
$highlight-colour-dark: rgb(199, 111, 16);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.preload * {
    transition: none !important;
}

body {
    font-family: sans-serif;
}

div.container {
    display: flex;
    position: relative;
}

/* Global styles */

body {
    color: $text-colour;
}

a {
    color: $text-colour;
    // text-decoration: none;
}

a:hover {
    color: $highlight-colour-medium;
    transition: color 0.2s ease;
}

/* Sidebar */

div.sidebar {
    background-color: $background-colour-light;
    font-family: 'Roboto Slab', serif;
    // height: 100vh;
    width: $sidebar-width;
    padding: 2rem;
}

div.sidebar section {
    margin: 2rem 0;
    border-bottom: 2px solid $background-colour-emboss;    
    padding-bottom: 2rem;
}

div.sidebar section header {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem 0;
}

div.sidebar section li {
    margin: 1rem 0;
}

/* Tags */

ul.tags {}

ul.tags li.tag {
    display: inline-block;
    margin: 0.5rem 0.2rem;
}

ul.tags li.tag.tag-size-1 {
    font-size: 1rem;
}

ul.tags li.tag.tag-size-2 {
    font-size: 1.2rem;
}

ul.tags li.tag.tag-size-3 {
    font-size: 1.4rem;
}

ul.tags li.tag.tag-size-4 {
    font-size: 1.6rem;
}

/* Navigation menu */

nav {
}

nav .links {
    border-bottom: 2px solid $background-colour-emboss;
    padding-bottom: 2rem;
}

nav .link {
    margin: 1rem 0;
}

nav .link a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

nav .link.active a {
    color: $highlight-colour-medium;
}

/* Main */

main {
    margin: 0 auto;
    width: 100%;
}

main header {
    align-items: center;
    background: $background-colour-dark;
    color: $highlight-colour-light;
    display: flex;
    height: $header-height;
    justify-content: center;
    margin-bottom: 1rem;
    position: relative;
}

main header button {
    background: none;
    border: none;
    color: $highlight-colour-light;
    cursor: pointer;
    font-size: 1.5rem;
    left: 0;
    outline: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: $header-height;
}

main img {
    height: 30vw;
    max-height: 250px;
    object-fit: cover;
    object-position: 0 30%;
    width: 100%;
}

main h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

main p.subtitle {
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    font-weight: 700;
    margin: 1rem 0; 
    text-align: center;
    text-transform: uppercase;
}

main div.quote {
    font-family: 'Open Sans', serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    margin: 0 4rem;
    position: relative;
    text-align: center;
}

main div.quote p.source {
    font-size: 0.8rem;
    font-style: normal;
    margin-top: 1rem;
}

main div.quote svg {
    color: rgba(0, 0, 0, 0.05);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

main .overlay {
    backdrop-filter:blur(4px);
    background: rgba(0, 0, 0, 0.5);
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.3s;
    visibility: hidden;
    width: 100vw;
    z-index: 1;
}

/* Media */

// >LG
@media (min-width: $bp-min-xl) {
    main header button {
	display: none;
    }

    main {
	width: $bp-min-xl - $sidebar-width;
    }
}

// <MD
@media (max-width: $bp-max-lg) {
    div.sidebar {
	left: 0;
	position: absolute;
	top: 0;
	transform: translateX(-$sidebar-width);
	transition: transform 0.3s;
	z-index: 2;
    }
    
    div.sidebar.open {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
	transform: translateX(0);
	// height: 100vh;
    }

    main .overlay.open {
	opacity: 1;
	visibility: visible;
    }
}
