div#wrapper div#main {
    overflow-x: hidden;
}

#footer p.copyright {
    margin: 0;
}

#main .inner section#header h1 {
    font-size: 3em;
    max-width: 100%;
}

#banner .image img {
    height: initial;
}

li > ul, li > ol {
    margin: 0;
}

ul.list-clean {
    list-style: none;
}

ul.list-clean li {
    padding-left: 0;
}

ul.list-clean li.list-item-spaced {
    margin-bottom: 1em;
}

ul.list-inline {
    padding-left: 0;
}

ul.list-inline li {
    display: inline-block;
}

.font-size-1 {
    font-size: 1.5em;
    font-weight: bold;
}

.font-size-2 {
    font-size: 1.2em;
}

.font-size-3 {
    font-size: 1em;
}

.font-size-4 {
    font-size: 0.8em;
}

.tag a {
    border: 0;
    padding: 0 0.2em 0 0.2em;
}

.tag a:hover {
    background-color: #ddd;
}

#header a {
    border: 0;
}

#main .inner section#header {
    padding: 4em 0 1em 0;
    border: 0;
}

#main .inner section#post-info {
    padding: 0;
    border: 0;
    margin-bottom: 3em;
}

#main .inner section#post-info div {
    margin-bottom: 1em;
}

#main .inner section#content {
    padding: 0;
    border: 0;
    margin-bottom: 3em;
}

#main .inner section#content p {
    margin-bottom: 0.4em;
}

#main .inner section#content h1,
#main .inner section#content h2,
#main .inner section#content h3,
#main .inner section#content h4,
#main .inner section#content h5,
#main .inner section#content h6 {
    margin: 1em 0 0.5em 0;
}

#main .inner section#content h1 {
    font-size: 2em;
}

#main .inner section#content h2 {
    font-size: 1.6em;
}

#main .inner section#content h3 {
    font-size: 1.4em;
}

#main .inner section#content h4 {
    font-size: 1.2em;
}

#main .inner section#content h5 {
    font-size: 1.0em;
}

#main .inner section#content h6 {
    font-size: 0.8em;
}

#main .inner section.footer {
    padding: 2em 0 0 0;
    margin-bottom: 3em;
}

#main .inner section.footer h1 {
    font-size: 1.5em;
    line-height: 4em;
}

code {
    padding: 0.25em 0.45em;
}

a.headerlink {
    font-size: 0.8em;
    margin-left: 0.4em;
}

a {
    border-bottom: none;
}

section > div.highlight code {
    background-color: #f8f8f8;
    border-radius: 0;
    font-family: "Courier New", monospace;
    font-size: 1em;
    border: 0;
    padding: 0;
    margin: 0;
}

section > div.highlight {
    margin: 1em 0;
}

section > div.highlight span.filename {
    display: inline-block;
    background-color: #d8d8d8;
    padding: 5px 15px;
    border: 1px solid black;
    border-bottom: 0px;
    font-family: "Courier New", monospace;
    font-size: 1em;
}

section > div.highlight pre {
    border: 1px solid black;
    padding: 1em 0 1em 1em;
    margin: 0;
    overflow-x: auto;
}

div.code .highlight pre {
    background-color: #444;
    color: #f8f8f2
}

div.code .highlight pre .hll {
    background-color: #666;
}

div.code {
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    background-color: #444;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
    overflow: auto;
}

div.code > div {
    background-color: #444;
}

div.code pre {
    padding-top: 15px;
    margin-bottom: 15px;
}

div.code .title {
    padding-left: 15px;
    /* background-color: inherit; */
    background: linear-gradient(90deg, rgba(68,68,68,1) 0%, rgba(245,106,106,1) 100%);
    color: #f56a6a;
    font-weight: bold;
    border-top: 1px #f56a6a solid;
    border-bottom: 1px #f56a6a solid;
    padding-right: 15px;
}

div.code .content {
    padding-left: 15px;
}

div.code .callouts {
    border-top: 1px #f56a6a solid;
    color: #f8f8f2;
}

div.code table {
    margin-bottom: 0;
}

div.code table td {
    padding: 0.25em 0.75em;
}

div.code table tbody tr {
    background-color: inherit;
    border: 0;
}

div.code tbody tr td:first-child {
    width: 2em;
    min-width: 2em;
    max-width: 8em;
    font-family: "Courier New",monospace;
    font-size: .9em;
}

div.code tbody strong {
    color: #f8f8f2;
}

div.admonition.source {
    display: flex;
}

div.admonition.source i {
    font-size: 3em;
    padding: 0.2em;
}

blockquote.styled cite {
    font-weight: bold;
}

span.callout {
    border-radius: 1em;
    border: 1px solid black;
    background-color: #f8f8f2;
    color: #49483e;
    text-align: center;
    padding: 0 0.5em;
    display: inline-block;
    font-weight: bold;
}

/* This is Pygments Monokai */
/* It's here because I'm keeping the old style in articles that are not written with Mau */

/* div.code .highlight pre .hll { background-color: #49483e } */
/* div.code .highlight pre  { background: #38372f; color: #f8f8f2 } */
div.code .highlight pre .c { color: #97927b } /* Comment */
div.code .highlight pre .err { color: #960050; background-color: #1e0010 } /* Error */
div.code .highlight pre .k { color: #66d9ef } /* Keyword */
div.code .highlight pre .l { color: #ae81ff } /* Literal */
div.code .highlight pre .n { color: #f8f8f2 } /* Name */
div.code .highlight pre .o { color: #f92672 } /* Operator */
div.code .highlight pre .p { color: #f8f8f2 } /* Punctuation */
div.code .highlight pre .cm { color: #97927b } /* Comment.Multiline */
div.code .highlight pre .cp { color: #97927b } /* Comment.Preproc */
div.code .highlight pre .c1 { color: #97927b } /* Comment.Single */
div.code .highlight pre .cs { color: #97927b } /* Comment.Special */
div.code .highlight pre .gd { color: #f92672 } /* Generic.Deleted */
div.code .highlight pre .ge { font-style: italic } /* Generic.Emph */
div.code .highlight pre .gi { color: #a6e22e } /* Generic.Inserted */
div.code .highlight pre .gs { font-weight: bold } /* Generic.Strong */
div.code .highlight pre .gu { color: #97927b } /* Generic.Subheading */
div.code .highlight pre .kc { color: #66d9ef } /* Keyword.Constant */
div.code .highlight pre .kd { color: #66d9ef } /* Keyword.Declaration */
div.code .highlight pre .kn { color: #f92672 } /* Keyword.Namespace */
div.code .highlight pre .kp { color: #66d9ef } /* Keyword.Pseudo */
div.code .highlight pre .kr { color: #66d9ef } /* Keyword.Reserved */
div.code .highlight pre .kt { color: #66d9ef } /* Keyword.Type */
div.code .highlight pre .ld { color: #e6db74 } /* Literal.Date */
div.code .highlight pre .m { color: #ae81ff } /* Literal.Number */
div.code .highlight pre .s { color: #e6db74 } /* Literal.String */
div.code .highlight pre .na { color: #a6e22e } /* Name.Attribute */
div.code .highlight pre .nb { color: #f8f8f2 } /* Name.Builtin */
div.code .highlight pre .nc { color: #a6e22e } /* Name.Class */
div.code .highlight pre .no { color: #66d9ef } /* Name.Constant */
div.code .highlight pre .nd { color: #a6e22e } /* Name.Decorator */
div.code .highlight pre .ni { color: #f8f8f2 } /* Name.Entity */
div.code .highlight pre .ne { color: #a6e22e } /* Name.Exception */
div.code .highlight pre .nf { color: #a6e22e } /* Name.Function */
div.code .highlight pre .nl { color: #f8f8f2 } /* Name.Label */
div.code .highlight pre .nn { color: #f8f8f2 } /* Name.Namespace */
div.code .highlight pre .nx { color: #a6e22e } /* Name.Other */
div.code .highlight pre .py { color: #f8f8f2 } /* Name.Property */
div.code .highlight pre .nt { color: #f92672 } /* Name.Tag */
div.code .highlight pre .nv { color: #f8f8f2 } /* Name.Variable */
div.code .highlight pre .ow { color: #f92672 } /* Operator.Word */
div.code .highlight pre .w { color: #f8f8f2 } /* Text.Whitespace */
div.code .highlight pre .mb { color: #ae81ff } /* Literal.Number.Bin */
div.code .highlight pre .mf { color: #ae81ff } /* Literal.Number.Float */
div.code .highlight pre .mh { color: #ae81ff } /* Literal.Number.Hex */
div.code .highlight pre .mi { color: #ae81ff } /* Literal.Number.Integer */
div.code .highlight pre .mo { color: #ae81ff } /* Literal.Number.Oct */
div.code .highlight pre .sb { color: #e6db74 } /* Literal.String.Backtick */
div.code .highlight pre .sc { color: #e6db74 } /* Literal.String.Char */
div.code .highlight pre .sd { color: #e6db74 } /* Literal.String.Doc */
div.code .highlight pre .s2 { color: #e6db74 } /* Literal.String.Double */
div.code .highlight pre .se { color: #ae81ff } /* Literal.String.Escape */
div.code .highlight pre .sh { color: #e6db74 } /* Literal.String.Heredoc */
div.code .highlight pre .si { color: #e6db74 } /* Literal.String.Interpol */
div.code .highlight pre .sx { color: #e6db74 } /* Literal.String.Other */
div.code .highlight pre .sr { color: #e6db74 } /* Literal.String.Regex */
div.code .highlight pre .s1 { color: #e6db74 } /* Literal.String.Single */
div.code .highlight pre .ss { color: #e6db74 } /* Literal.String.Symbol */
div.code .highlight pre .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
div.code .highlight pre .vc { color: #f8f8f2 } /* Name.Variable.Class */
div.code .highlight pre .vg { color: #f8f8f2 } /* Name.Variable.Global */
div.code .highlight pre .vi { color: #f8f8f2 } /* Name.Variable.Instance */
div.code .highlight pre .il { color: #ae81ff } /* Literal.Number.Integer.Long */

/* ************************ */

article.card a.image {
    margin: 0;
}

article.card div.card-body {
    margin-top: 0.6em;
}

article.card div.card-body h1 {
    font-size: 1.5em;
}

article.card div.card-body h1:hover {
    color: inherit;
}

p.article-info time {
    font-size: 0.8em;
}

p.article-info span {
    margin-left: 0.5em;
}

p.article-info a.tag {
    font-size: 0.7em;
    border-radius: 0.25em;
    background-color: #f6f6f6;
    border: 0;
    padding: 0 0.3em 0 0.3em;
    color: #999;
    font-weight: 1000;
}

p.article-info a.tag:hover {
    background-color: #ddd;
    color: #999!important;
}

.mini article.card {
    margin: 0 0 1em 6em;
    width: calc(20% - 6em);
}

.mini article.card div.card-body h2 {
    font-size: 1em;
}

.mini article.card div.card-body h2:hover {
    color: inherit;
}

#main .inner section#content div.center-image {
    text-align: center;
}

#main .inner section#content div.big-image {
    overflow-x: scroll;
}

#main .inner section#banner p.quote {
    margin: 0;
    font-style: italic;
}

#main .inner section#banner p.quote-source {
    text-align: right;
}

div.callout {
    padding-left: 15px;
    border-left: 10px solid green;
    margin-bottom: 1em;
}

div.callout .title {
    text-transform: uppercase;
    font-weight: bold;
    color: green;
    border-bottom: 1px solid green;
    margin-bottom: 15px;
}

div.callout .underline {
    text-decoration: underline;
}

div.callout .label {
    background-color: orange;
    border: 1px #333 solid;
    padding: 0 3px;
}

div.callout .label.success {
    background-color: #00aa00;
}
